<!DOCTYPE html>
<html xmlns:th="http://java.sun.com/JSP/Page">
<head th:include="fragments/head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:include="fragments/management/header" th:remove="tag"></header>
    <aside th:include="fragments/management/sidebar" th:remove="tag"></aside>

    <div class="content-wrapper">
        <div class="content">
            <ol class="breadcrumb panel panel-default">
                <li><i class="fa fa-home"></i></li>
                <li class="active" th:text="#{form.label.management.import.totals}"></li>
            </ol>

            <div th:include="fragments/error" th:remove="tag"></div>
            <div th:include="fragments/success" th:remove="tag"></div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12" th:text="#{form.label.management.add.totals.message}"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <form method="post" action="/management/import/student-marks" enctype="multipart/form-data">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                <span th:text="#{form.label.management.browse}"></span>&hellip;
                                <input name="file" type="file" th:placeholder="#{form.label.management.profiles}"/>
                            </span>
                        </span>
                            <input type="text" class="form-control" readonly="readonly"/>
                            <span class="input-group-btn">
                                <input type="submit" th:value="#{form.label.management.download}"
                                       class="btn btn-success"/>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/management/footer" th:remove="tag"></div>
</div>
</body>
</html>
