.gradient-background {
    background: linear-gradient(45deg, rgba(54,127,169,1) 0%, rgba(134,188,218,1) 60%, rgba(187,228,250,1) 100%);
}

#login-form {
    height: 260px;
}

.box-shadow {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
}

#login-form .logo {
    height: 35px;
}

#login-form .panel-title {
    padding: 0;
}

#login-form .panel-body {
    padding: 30px 15px;
    text-align: center;
}

.parent{
    background-color:rgba(0,0,0,.3);
    display:table;
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    overflow: inherit;
}
.child{
    display:table-cell;
    vertical-align:middle;
}
