.info-box-number {
    font-weight: 300;
}

.info-box-text {
    font-size: 14px;
    line-height: 1.8;
    font-weight: lighter;
}

.table-content {
    padding: 0px;
}

.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > td {
    line-height: 1.2;
    font-size: 14px;
}

.table-responsive > .table > tbody > tr > td > button {
    padding: 0px;
    width: 40px;
}

.table .center {
    text-align: center;
}

.text-center {
    vertical-align: middle !important;
    text-align: center !important;
}

.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>td,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>thead>tr>th {
    white-space: normal;
}

.table-responsive {
    border: 0px;
}