.products-list .product-description {
    white-space: normal;
}

.products-list .product-info {
    margin: 7px 20px;
}

.editor-input {
    width: 100%;
}

.photo-editor {
    height: 150px;
    margin: 5px;
    border: 2px solid gainsboro;
}
.float-right {
    float: right;
}


.info-box-no-content .info-box-icon {
    width: 100%;
}

.info-box-no-content .info-box-icon .text{
    font-size: 14px;
    line-height: 14px;
}

.info-box-no-content .info-box-icon .img{
    line-height: 65px;
}

.info-box-no-content .info-box-icon:hover {
    background-color: #1e282c !important;
}
