.user-panel {
    height: 165px;
}

.image {
    text-align: center;
}

.profile-photo {
    background-color: darkslategray;
    border: 1px solid white;
}

.student-photo {
    min-width: 40px;
    height: 50px;
    width: auto;
    border: 1px solid #c7ddef;

}

.profile-photo-large {
    height: 90px !important;
    width: auto !important;
    max-width: 75px !important;
    border: 2px solid white;
}

.user-image {
    height: 25px !important;
    width: auto !important;
}

.sidebar > .user-panel> .info {
    text-align: center;
    left: 0;
    width: 100%;
    padding: 8px;
}

.sidebar-collapse > .wrapper > .main-sidebar > .sidebar > .user-panel {
    height: auto;
}

.sidebar-collapse > .wrapper > .main-sidebar > .sidebar > .user-panel > .image > .profile-photo-large {
    border: 1px solid white;
    height: auto !important;
    width: auto !important;
    max-width: 33px !important;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    min-height: 200px;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: normal;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
        width: 190px;
    }
}