.vertical-center {
    vertical-align: middle;
}

.content-header {
    padding: 15px !important;
}

.alert {
    margin-bottom: 7px !important;
}

.badge.badge-light {

    background-color: #3c8dbc !important;
}

.pair-type.label.label-info {
    background-color: indianred !important;
}