<!DOCTYPE html>
<html xmlns:th="http://java.sun.com/JSP/Page">
<head th:include="fragments/head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:include="fragments/management/header" th:remove="tag"></header>
    <aside th:include="fragments/management/sidebar" th:remove="tag"></aside>

    <div class="content-wrapper">
        <div class="content">

            <ol class="breadcrumb panel panel-default">
                <li><i class="fa fa-home"></i></li>
                <li class="active" th:text="#{form.label.management.configurations}"></li>
            </ol>

            <div th:include="fragments/error" th:remove="tag"></div>
            <div th:include="fragments/success" th:remove="tag"></div>

            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12" th:text="#{form.label.management.configurations.admins}"></div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <p th:text="#{form.label.management.configurations.admins.add}"></p>
                            <form action="/management/configs/admins" method="post">
                                <div class="form-group">
                                    <label for="email" class="control-label" th:text="#{form.label.student.email}"></label>
                                    <input id="email" name="email" class="form-control" required="required" type="email"/>
                                </div>
                                <input type="submit" th:value="#{btn.add}" class="btn btn-sm btn-success float-right"/>
                            </form>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" th:each="admin : ${admins}">
                                <div class="row">
                                    <div class="col-md-11" th:text="${admin.id}"></div>
                                    <div class="col-md-1">
                                        <button th:if="${admins.size() > 1}" th:attr="data-admin=${admin.id}" class="delete-admin btn btn-danger btn-xs pull-right">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-5">
                    <form method="post" action="/management/configs/email-sending">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span th:text="#{form.label.management.configurations.emails}"></span>
                                        <button type="submit" class="btn btn-xs btn-success pull-right" th:text="#{btn.save}"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input name="SEND_EMAIL_AFTER_PROFILE_CREATION" type="checkbox"
                                               th:checked="${SEND_EMAIL_AFTER_PROFILE_CREATION}" data-toggle="toggle"/>
                                        <span th:text="#{form.label.management.configurations.emails.after.profile.creation}"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="SEND_EMAIL_AFTER_PROFILE_MODIFICATION" type="checkbox"
                                               th:checked="${SEND_EMAIL_AFTER_PROFILE_MODIFICATION}" data-toggle="toggle"/>
                                        <span th:text="#{form.label.management.configurations.emails.after.importing.marks}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form method="post" action="/management/configs/account-features">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-12">
                                        <span th:text="#{form.label.management.configurations.account.features}"></span>
                                        <button type="submit" class="btn btn-xs btn-success pull-right" th:text="#{btn.save}"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input name="VIEW_SCHEDULE" type="checkbox" th:checked="${VIEW_SCHEDULE}" data-toggle="toggle"/>
                                        <span th:text="#{form.label.management.configurations.account.features.schedule}"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="VIEW_CURRENT_MARKS" type="checkbox" th:checked="${VIEW_CURRENT_MARKS}" data-toggle="toggle"/>
                                        <span th:text="#{form.label.management.configurations.account.features.current.marks}"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="VIEW_DOCUMENTS" type="checkbox" th:checked="${VIEW_DOCUMENTS}" data-toggle="toggle"/>
                                        <span th:text="#{form.label.management.configurations.account.features.documents}"></span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="SEND_EMAIL_TO_DECAN" type="checkbox" th:checked="${SEND_EMAIL_TO_DECAN}" data-toggle="toggle"/>
                                        <span th:text="#{form.label.management.configurations.account.features.contact.form}"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:include="fragments/management/footer" th:remove="tag"></div>
</div>
</body>
</html>
