<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:include="fragments/management/header" th:remove="tag"></header>
    <aside th:include="fragments/management/sidebar" th:remove="tag"></aside>

    <div class="content-wrapper">
        <div class="content">

            <ol class="breadcrumb panel panel-default">
                <li><i class="fa fa-home"></i></li>
                <li class="active" th:text="#{form.label.management.groups}"></li>
            </ol>

            <form action="#" id="group" th:action="@{/management/groups}" th:object="${group}" method="post">

                <div th:include="fragments/error" th:remove="tag"></div>
                <div th:include="fragments/success" th:remove="tag"></div>
                <div class="alert alert-danger alert-dismissible" th:errors="*"></div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12 panel-title" th:text="#{form.label.management.groups.add}"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label for="faculty" class="control-label"
                                       th:text="#{form.label.student.faculty}"></label>
                                <select id="faculty" name="faculty" class="form-control" th:required="required">
                                    <option th:each="faculty : ${faculties}"
                                            th:value="${faculty.id}"
                                            th:text="${faculty.name}"
                                            th:selected="${faculty.id == selectedFaculty.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="speciality" class="control-label"
                                       th:text="#{form.label.student.speciality}"></label>
                                <select id="speciality" th:field="*{speciality}" class="form-control"
                                        th:required="required">
                                    <option th:each="speciality : ${specialities}"
                                            th:value="${speciality.id}"
                                            th:text="${speciality.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="educationProgram" class="control-label"
                                       th:text="#{form.label.student.educationProgram}"></label>
                                <select id="educationProgram" th:field="*{educationProgram}" class="form-control"
                                        th:required="required">
                                    <option th:each="educationProgram : ${educationPrograms}"
                                            th:value="${educationProgram.id}"
                                            th:text="${educationProgram.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="col-md-6 form-group">
                            <label for="name" class="control-label" th:text="#{form.label.name}"></label>
                            <input type="text" id="name" th:field="*{name}" class="form-control"
                                   pattern="^[А-Яа-яёЁЇїІіЄєҐґ\\'\s]{3,100}$" required="required"/>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="id" class="control-label" th:text="#{form.label.code}"></label>
                            <input type="number" id="id" th:field="*{id}" class="form-control" required="required"/>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" th:value="#{btn.save}" class="btn btn-success float-right"/>
                        </div>
                    </div>
                </div>
            </form>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12" th:text="#{form.label.management.groups}"></div>
                    </div>
                </div>
                <div class="panel-body disciplines-management-panel">
                    <table class="table table-striped no-margin" th:if="${!#lists.isEmpty(groups)}">
                        <thead>
                        <tr>
                            <th th:text="#{form.label.code}"></th>
                            <th th:text="#{form.label.name}"></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group : ${groups}">
                            <td><a th:href="@{/management/groups/__${group.id}__/students}" th:text="${group.id}"></a>
                            </td>
                            <td th:text="${group.name}"></td>
                            <td>
                                <button th:attr="group-id=${group.id}"
                                        class="delete-groups btn btn-danger btn-xs pull-right">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p th:text="#{items.not.found}" th:if="${#lists.isEmpty(groups)}"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/management/footer" th:remove="tag"></div>
</div>
</body>
</html>
