<span xmlns:th="http://java.sun.com/JSP/Page">
    <div th:if="${mark ge '90' or mark eq 'залік' or mark eq '100'}">
        <label class="label label-success" th:text="${mark}"></label>
    </div>
    <div th:if="${mark ge '74' and mark lt '90'}">
        <label class="label label-default" th:text="${mark}"></label>
    </div>
    <div th:if="${mark ge '60' and mark lt '74'}">
        <label class="label label-warning" th:text="${mark}"></label>
    </div>
    <div th:if="${mark ge '0' and mark lt '60' and mark ne '100'}">
        <label class="label label-danger" th:text="${mark}"></label>
    </div>
    <div th:if="${mark == null or mark eq ''}">
        N/A
    </div>
</span>