<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" th:with="profileImage='/students/'+ ${profile.id}+ '/photo'">
    <header th:include="fragments/student/header" th:remove="tag"></header>
    <aside th:include="fragments/student/sidebar" th:remove="tag"></aside>

    <div class="content-wrapper">
        <div class="content">
            <ol class="breadcrumb panel panel-default">
                <li><a href="/account"><i class="fa fa-home"></i></a></li>
                <li class="active" th:text="#{form.label.student.profile.head.second}"></li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="student-info col-md-5 col-sm-12 col-xs-12">
                        <table class="table-sm no-margin no-border">
                            <tr>
                                <td rowspan="3" class="info-label-container hidden-xs">
                                    <i class="info-label ion-ios-book-outline"></i>
                                </td>
                                <td th:text="#{form.label.student.faculty} + ' ' + ${profile.faculty.name}"></td>
                            </tr>
                            <tr><td th:text="#{form.label.student.incomeYear} + ' ' + ${profile.incomeYear}"></td></tr>
                            <tr><td th:text="#{form.label.student.group} + ' ' + ${profile.group.name}"></td></tr>
                        </table>
                    </div>
                    <div class="student-info col-md-4 col-sm-12 col-xs-12" th:if="${not #lists.isEmpty(profile.contactInfo)}">
                        <table class="table-sm no-margin no-border">
                            <tr>
                                <td rowspan="2" class="info-label-container hidden-xs">
                                    <i class="info-label ion ion-ios-telephone-outline"></i>
                                </td>
                                <td th:text="#{form.label.student.contacts} + ':'"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div th:each="contact : ${profile.contactInfo}" th:text="${contact}"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="student-info col-md-3 col-sm-12 col-xs-12" th:if="${profile.averageMark != null}">
                        <table class="table-sm no-margin no-border">
                            <tr class="hidden-sm hidden-md hidden-lg">
                                <td th:text="#{form.label.discipline.average} + ':'"></td>
                            </tr>
                            <tr>
                                <td class="info-label-container hidden-xs">
                                    <i class="info-label ion ion-ios-settings"></i>
                                </td>
                                <td class="average-mark" th:text="${profile.averageMark}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="courses-btn-group" class="btn-group btn-group-justified">
                        <div class="btn btn-default disabled">
                            <span th:text="#{form.label.student.profile.course}"></span>
                        </div>
                        <a th:each="course : ${courses}" th:href="@{/account(course=${course})}" class="btn"
                           th:classappend="${course eq selectedCourse} ? 'btn-primary' : 'btn-default'">
                            <span th:text="${course}"></span>
                        </a>
                    </div>
                </div>
            </div>


            <div th:each="marksPerSemester : ${groupedMarks}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="label label-default" th:text="${'СЕМЕСТР №' + marksPerSemester.key}"></span>
                        <span class="pull-right show-marks"
                              data-toggle="collapse"
                              th:attr="data-target='#marks' + ${marksPerSemester.key},aria-expanded=true">
                            <i class="fa fa-chevron-down"></i>
                        </span>
                    </div>
                    <div class="panel-body in" th:id="'marks'+ ${marksPerSemester.key}">
                        <div class="table-responsive">
                            <table class="table no-margin">
                                <thead>
                                <tr>
                                    <th th:text="#{form.label.student.profile.table.tab1}"></th>
                                    <th class="center hidden-xs"
                                        th:text="#{form.label.student.profile.table.tab2}"></th>
                                    <th class="center hidden-xs"
                                        th:text="#{form.label.student.profile.table.tab3}"></th>
                                    <th class="center"
                                        th:text="#{form.label.student.profile.table.tab4}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="disciplineMark : ${marksPerSemester.value}">
                                    <td class="col-md-6"
                                        th:text="${disciplineMark.discipline.label}"></td>
                                    <td class="col-md-2 center hidden-xs"
                                        th:text="${disciplineMark.discipline.credits}"></td>
                                    <td class="col-md-2 center hidden-xs"
                                        th:text="${disciplineMark.discipline.controlForm.name}"></td>
                                    <td class="col-md-2 center"
                                        th:include="fragments/student/discipline-mark"
                                        th:with="mark=${disciplineMark.mark}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/student/footer" th:remove="tag"></div>
</div>
</body>
</html>