<!DOCTYPE html>
<html xmlns:th="http://java.sun.com/JSP/Page">
<head th:include="fragments/head">
    <title th:text="#{title}"></title>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" th:with="profileImage='/students/'+ ${profile.id}+ '/photo'">
    <header th:include="fragments/student/header" th:remove="tag"></header>
    <aside th:include="fragments/student/sidebar" th:remove="tag"></aside>

    <div class="content-wrapper">
        <div class="content">

            <ol class="breadcrumb panel panel-default">
                <li><a href="/account"><i class="fa fa-home"></i></a></li>
                <li class="active">Документи</li>
            </ol>

            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Наказ Міністерства Освіти України №245 від 15.07.96 про затвердження Положення про
                                    порядок переведення,відрахування та поновлення студентів вищих закладів освіти.
                                </span>
                                <span class="product-description">
                                    На виконання відповідно до окремого доручення Кабінету Міністрів України від 30 грудня
                                    1995 р., Зведених заходів щодо реалізації Указу Президента України від 12 вересня
                                    1995 р. N 832/95 "Про Основні напрями реформування вищої освіти в Україні"
                                    З наказом можна ознайомитися
                                    <a href="http://zakon2.rada.gov.ua/laws/show/z0427-96/print1382541863358157">за посиланням</a>,
                                    або переглянути у <a href="http://www.ei.hneu.edu.ua/files/245.pdf">файлі</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Наказ Міністерства Освіти України №635 від 29.05.2013 про затвердження Примірного положення
                                    про академічну мобільність студентів вищих навчальних закладів України.
                                </span>
                                <span class="product-description">
                                    Для реалізації положень Розділу 12 Закону України «Про вищу освіту» та з метою організації
                                    академічної мобільності студентів вищих навчальних закладів України.
                                    З наказом можна ознайомитися за <a href="http://www.ei.hneu.edu.ua/files/635.pdf">посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title"></span>
                                <span class="product-description">
                                    Уперше в Україні за активної підтримки Міністерства освіти і науки, молоді та спорту України,
                                    Інституту вищої освіти Національної академії педагогічних наук України та сприяння
                                    Національного Темпус-офісу в Україні підготовлено науково-методичне видання
                                    <a href="http://www.ei.hneu.edu.ua/files/glosariyosvita.pdf">"Національний
                                        освітній глосарій: вища освіта"</a>
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Додаток до постанови Кабінету Міністрів України від 23 листопада 2011 р. №1341
                                </span>
                                <span class="product-description">
                                    <a href="http://www.ei.hneu.edu.ua/files/pkm_nacramkakvall08.09.pdf">Національна рамка кваліфікацій</a>
                                    призначена для використання органами виконавчої влади,
                                    установами та організаціями, що реалізують державну політику у сфері освіти, зайнятості
                                    та соціально-трудових відносин, навчальними закладами, роботодавцями, іншими юридичними
                                    і фізичними особами з метою розроблення, ідентифікації, співвіднесення, визнання, планування
                                    і розвитку кваліфікацій.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Постанова Кабінету Міністрів України від 29 квітня 2015 р. №266 м.Київ про затвердження переліку
                                    галузей знань і спеціальностей, за якими здійснюється підготовка здобувачів вищої освіти.
                                </span>
                                <span class="product-description">
                                    З постановою можна ознайомитися <a
                                        href="http://www.ei.hneu.edu.ua/files/pkmu_pergalznspecial.pdf">
                                    за посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Постанова Кабінету Міністрів України від 26 серпня 2015 р. № 658 м.Київ Про затвердження Порядку
                                    відшкодування коштів державного або місцевого бюджету, витрачених на оплату послуг з підготовки
                                    фахівців.
                                </span>
                                <span class="product-description">
                                    З постановою можна ознайомитися за <a
                                        href="http://zakon3.rada.gov.ua/laws/show/658-2015-%D0%BF">
                                    посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Болонський процес та нова парадигма вищої освіти
                                </span>
                                <span class="product-description">
                                    З постановою можна ознайомитися за
                                    <a href="http://www.ei.hneu.edu.ua/sites/default/files/BolonskyiProcessNewParadigmHE.pdf">посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Стандарти і рекомендації щодо забезпечення якості Європейському просторі вищої освіти
                                </span>
                                <span class="product-description">
                                    З постановою можна ознайомитися за <a
                                        href="http://www.ei.hneu.edu.ua/sites/default/files/dovidnyk_EKTS_2015.pdf">
                                    посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Національний освітній глосарій
                                </span>
                                <span class="product-description">
                                    З постановою можна ознайомитися за
                                    <a href="http://www.ei.hneu.edu.ua/sites/default/files/glossariy_2014.pdf">посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    MDIS 2015 - SIBIU
                                </span>
                                <span class="product-description">
                                    З постановою можна ознайомитися за <a
                                        href="http://www.ei.hneu.edu.ua/sites/default/files/Rozvytok_Systemy_Zabezpechennya_Yakosti_HERE.pdf">
                                    посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Міністерства Освіти України N 191/153 від 06.06.96 про затвердження Положення про академічні
                                    відпустки та повторне навчання у вищих закладах освіти.
                                </span>
                                <span class="product-description">
                                    Це Положення визначає порядок надання студентам вищих закладів освіти академічних відпусток,
                                    а також порядок проходження студентами повторного курсу навчання.
                                    З наказом можна ознайомитися за <a
                                        href="http://zakon3.rada.gov.ua/laws/show/z0325-96">посиланням</a>.
                                </span>
                            </div>
                        </li>
                        <li class="item">
                            <div class="product-info">
                                <span class="product-title">
                                    Ліцензійні умови провадження освітньої діяльності закладів освіти
                                </span>
                                <span class="product-description">
                                    З документом можна ознайомитися за <a
                                        href="http://www.ei.hneu.edu.ua/sites/default/files/Licenziini%20ymovu.pdf">посиланням</a>.<br/>
                                    З додатком до ліцензійних умов можна ознайомитися за <a
                                        href="http://www.ei.hneu.edu.ua/sites/default/files/Dod.pdf">посиланням</a>.
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/student/footer" th:remove="tag"></div>
</div>
</body>
</html>