<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper" th:with="profileImage='/students/'+ ${profile.id}+ '/photo'">
    <header th:include="fragments/student/header" th:remove="tag"></header>
    <aside th:include="fragments/student/sidebar" th:remove="tag"></aside>

    <div class="content-wrapper schedule-wrapper">
        <section class="content-header">
            <div th:if="${!#lists.isEmpty(pairs)}">
                <div class="row">
                    <a class="btn" th:href="@{/account/schedule(week=${week-1})}"
                       th:if="${week gt 1}">Попередня</a>
                    <a class="btn float-right"
                       th:href="@{/account/schedule(week=${week+1})}"
                       th:if="${week lt 53}">Наступна</a>
                </div>

                <div class="hidden-xs hidden-sm" th:include="fragments/student/schedule-desktop"></div>
                <div class="hidden-md hidden-lg" th:include="fragments/student/schedule-mobile"></div>
            </div>

            <div th:if="${#lists.isEmpty(pairs)}">

            </div>

            <div th:include="fragments/error" th:remove="tag"></div>
        </section>
    </div>

    <div th:include="fragments/student/footer" th:remove="tag"></div>
</div>
</body>
</html>